!  ▓▓▓▓▓▓▓▓▓▓ 
! ░▓ Author ▓ Abdullah <https://abdullah.today/> 
! ░▓▓▓▓▓▓▓▓▓▓ 
! ░░░░░░░░░░ 

! URxvt first ;-)

#include "/home/ak/.urxvt/colors/future"
#include "/home/ak/.urxvt/URxvt.conf"

! Polybar

#include "/home/ak/.config/polybar/polybar.colors"
