polybar/.config/polybar/gmail/mycredentials.json
ncmpcpp/
mpd/
bin/bin
mutt/.config/mutt/credentials/
mpv/.config/mpv/watch_later/
elinks/.elinks/bookmarks
gpg/
fonts/.local/share/ranger/
fonts/.local/share/recently-used.xbel
fonts/.local/share/xorg/
ipython/.ipython/profile_default/startup/
*.uuid
etc/.local/share/zathura/
etc/.local/share/virtualenvs/
etc/.local/share/misc/
etc/.local/bin
etc/.local/etc
etc/.local/share/ranger
elinks/
etc/.local/share/recently-used.xbel
etc/.local/share/xorg
