mutt/.config/mutt/credentials/
mpv/.config/mpv/watch_later/
elinks/.elinks/bookmarks
gpg/
ipython/.ipython/profile_default/startup/
*.uuid
etc/.local/share/zathura/
etc/.local/share/virtualenvs/
etc/.local/share/misc/
etc/.local/bin
etc/.local/etc
etc/.local/share/ranger
elinks/
etc/.local/share/recently-used.xbel
etc/.local/share/xorg
vim/.vim/doc
etc/.local/share/gvfs-metadata/
etc/.local/share/keyrings/
etc/.local/share/xfce4/
etc/.android/adb.5037
mpd/.config/mpd/state
mpd/.config/mpd/database
__init__.py
imgur/.config/imgur-screenshot/credentials.conf
