mutt/.config/mutt/credentials/
mutt/.config/mutt/aliases
mpv/.config/mpv/watch_later/
mpv/.config/mpv/watched_file
elinks/.elinks/bookmarks
gpg/
ipython/.ipython/profile_default/startup/
*.uuid
etc/.local/share/zathura/
etc/.local/share/virtualenvs/
etc/.local/share/misc/
etc/.local/bin
etc/.local/etc
etc/.local/share/ranger
elinks/
etc/.local/share/recently-used.xbel
etc/.local/share/xorg
vim/.vim/autoload
vim/.vim/plugged
vim/.vim/doc
etc/.local/share/gvfs-metadata/
etc/.local/share/keyrings/
etc/.local/share/xfce4/
etc/.android/adb.5037
mpd/.config/mpd/state
mpd/.config/mpd/database
__init__.py
imgur/.config/imgur-screenshot/credentials.conf
etc/.config/gtk-3.0/bookmarks
nvim/.local/share/nvim/undo/
tig/.local/share/tig/history
systemd/.config/systemd/user/timers.target.wants/
xfce/.config/xfce4
cmus/.config/cmus/resume
cmus/.config/cmus/search-history
cmus/.config/cmus/cache
cmus/.config/cmus/command-history
cmus/.config/cmus/lib.pl
cmus/.config/cmus/playlists/
cmus/.config/cmus/queue.pl
cmus/.config/cmus/autosave
polybar/.config/polybar/scripts/
