#!/bin/sh

# chezmoi-packages.hook hash: {{ include "chezmoi-packages.hook" | sha256sum }}
doas install -m 0644 "{{ joinPath .chezmoi.sourceDir "chezmoi-packages.hook" }}" /etc/pacman.d/hooks/chezmoi-packages.hook
