{{- $backups := sortAlpha (glob "/tmp/*.novabackup") -}}
{{- if $backups -}}
#!/bin/sh
set -eu

backup='{{ last $backups }}'
source_dir='{{ .chezmoi.sourceDir }}'
output="$source_dir/encrypted_novabackup.age"

chezmoi encrypt --output="$output" "$backup"
rm -f -- "$backup"
{{- end }}
