#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=subspace
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=eagfgflhgikkkjdcbcfokdkamacgkppo
Icon=chrome-eagfgflhgikkkjdcbcfokdkamacgkppo-Default
StartupWMClass=crx_eagfgflhgikkkjdcbcfokdkamacgkppo
