[Unit]
Description=Auto change the wallpapers
After=xorg.target

[Service]
Environment=DISPLAY=:0
ExecStart=/home/ak/.local/bin/beautify /home/ak/pix/wall/collection 300
Restart=always

[Install]
WantedBy=default.target
