[Unit]
Description=Wake me up for Fajr Prayer

[Timer]
OnCalendar=*-*-* 03:45:00
Persistent=true
Unit=fajr.service

[Install]
WantedBy=timers.target


# vim: ft=systemd
