[Unit]
Description=Wake me up for Isha Prayer

[Timer]
OnCalendar=*-*-* 21:00:00
Persistent=true
Unit=isha.service

[Install]
WantedBy=timers.target


# vim: ft=systemd
