[Unit]
Description=Set random wallpaper

[Service]
Type=oneshot
Environment="walls_dir=%h/pix/wall/cuties/resized"
ExecStart=/bin/sh -c '/usr/bin/feh --randomize --recursive --bg-scale "$walls_dir"'

[Install]
WantedBy=default.target
