[Unit]
Description=Set random wallpaper

[Service]
Type=oneshot
Environment="walls_dir=%h/mus/album_arts/nazia"
ExecStart=/bin/sh -c '/usr/bin/feh --randomize --recursive --bg-scale "$walls_dir"'

[Install]
WantedBy=default.target
